<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CapaDeDatos.SouvenirsDB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CapaDeDatos.SouvenirsDB>
            <setting name="nombreDB" serializeAs="String">
                <value>souvenirsdbmm</value>
            </setting>
            <setting name="usuarioDB" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="passwordDB" serializeAs="String">
                <value>admin.root</value>
            </setting>
            <setting name="puertoDB" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="servidorDB" serializeAs="String">
                <value>localhost</value>
            </setting>
        </CapaDeDatos.SouvenirsDB>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
